<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Zendo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>464</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
				<key>dateExpires</key>
				<string>11/15/22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Algorithms.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cache.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Hero.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mixpanel.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Parse.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PromiseKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Smooth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>6N25VDH5A9.tools.sunyata.Zendo.NotificationService</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>6N25VDH5A9</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>37f17653-48df-4516-94a8-c27e8a5db5d2</string>
						<key>dateExpires</key>
						<string>6/2/23</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: tools.sunyata.Zendo.NotificationService</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64_32</string>
						<string>armv7k</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>464</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
						<key>dateExpires</key>
						<string>11/15/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>armv7k</string>
								<string>arm64_32</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>464</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
								<key>dateExpires</key>
								<string>11/15/22</string>
								<key>type</key>
								<string>Cloud Managed Apple Distribution</string>
							</dict>
							<key>embeddedBinaries</key>
							<array>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
										<string>arm64_32</string>
										<string>arm64</string>
									</array>
									<key>buildNumber</key>
									<string>464</string>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
										<key>dateExpires</key>
										<string>11/15/22</string>
										<key>type</key>
										<string>Cloud Managed Apple Distribution</string>
									</dict>
									<key>name</key>
									<string>Bolts.framework</string>
									<key>symbols</key>
									<true/>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>6N25VDH5A9</string>
										<key>name</key>
										<string>Sunyata Tools, Inc</string>
									</dict>
									<key>versionNumber</key>
									<string>7.53</string>
								</dict>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
										<string>arm64_32</string>
										<string>arm64</string>
									</array>
									<key>buildNumber</key>
									<string>464</string>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
										<key>dateExpires</key>
										<string>11/15/22</string>
										<key>type</key>
										<string>Cloud Managed Apple Distribution</string>
									</dict>
									<key>name</key>
									<string>Mixpanel.framework</string>
									<key>symbols</key>
									<true/>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>6N25VDH5A9</string>
										<key>name</key>
										<string>Sunyata Tools, Inc</string>
									</dict>
									<key>versionNumber</key>
									<string>7.53</string>
								</dict>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
										<string>arm64_32</string>
										<string>arm64</string>
									</array>
									<key>buildNumber</key>
									<string>464</string>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
										<key>dateExpires</key>
										<string>11/15/22</string>
										<key>type</key>
										<string>Cloud Managed Apple Distribution</string>
									</dict>
									<key>name</key>
									<string>Parse.framework</string>
									<key>symbols</key>
									<true/>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>6N25VDH5A9</string>
										<key>name</key>
										<string>Sunyata Tools, Inc</string>
									</dict>
									<key>versionNumber</key>
									<string>7.53</string>
								</dict>
								<dict>
									<key>architectures</key>
									<array>
										<string>armv7k</string>
										<string>arm64_32</string>
										<string>arm64</string>
									</array>
									<key>buildNumber</key>
									<string>464</string>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>8A10449A609190BECCF69C6E9F83B243A0F47EAF</string>
										<key>dateExpires</key>
										<string>11/15/22</string>
										<key>type</key>
										<string>Cloud Managed Apple Distribution</string>
									</dict>
									<key>name</key>
									<string>Smooth.framework</string>
									<key>symbols</key>
									<true/>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>6N25VDH5A9</string>
										<key>name</key>
										<string>Sunyata Tools, Inc</string>
									</dict>
									<key>versionNumber</key>
									<string>7.53</string>
								</dict>
							</array>
							<key>entitlements</key>
							<dict>
								<key>application-identifier</key>
								<string>6N25VDH5A9.tools.sunyata.Zendo.watchkit.ext</string>
								<key>aps-environment</key>
								<string>production</string>
								<key>beta-reports-active</key>
								<true/>
								<key>com.apple.developer.applesignin</key>
								<array>
									<string>Default</string>
								</array>
								<key>com.apple.developer.healthkit</key>
								<true/>
								<key>com.apple.developer.healthkit.access</key>
								<array/>
								<key>com.apple.developer.team-identifier</key>
								<string>6N25VDH5A9</string>
								<key>get-task-allow</key>
								<false/>
							</dict>
							<key>name</key>
							<string>Zendo WatchKit Extension.appex</string>
							<key>profile</key>
							<dict>
								<key>UUID</key>
								<string>b3c8642f-fed3-48fb-9875-9c4ad70985d9</string>
								<key>dateExpires</key>
								<string>6/2/23</string>
								<key>name</key>
								<string>iOS Team Store Provisioning Profile: tools.sunyata.Zendo.watchkit.ext</string>
							</dict>
							<key>symbols</key>
							<true/>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>6N25VDH5A9</string>
								<key>name</key>
								<string>Sunyata Tools, Inc</string>
							</dict>
							<key>versionNumber</key>
							<string>7.53</string>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>6N25VDH5A9.tools.sunyata.Zendo.watchkit</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>6N25VDH5A9</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Zendo WatchKit App.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>7c4d78c6-bafe-4a85-a5b1-95bff52d0970</string>
						<key>dateExpires</key>
						<string>6/2/23</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: tools.sunyata.Zendo.watchkit</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6N25VDH5A9</string>
						<key>name</key>
						<string>Sunyata Tools, Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.53</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6N25VDH5A9.tools.sunyata.Zendo</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>6N25VDH5A9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Zendo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2732422e-a225-4b8b-9951-ed38c961ccc6</string>
				<key>dateExpires</key>
				<string>6/2/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: tools.sunyata.Zendo</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6N25VDH5A9</string>
				<key>name</key>
				<string>Sunyata Tools, Inc</string>
			</dict>
			<key>versionNumber</key>
			<string>7.53</string>
		</dict>
	</array>
</dict>
</plist>
