<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Zendō</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CLKComplicationPrincipalClass</key>
	<string>$(PRODUCT_MODULE_NAME).ZendoDataSource</string>
	<key>CLKComplicationSupportedFamilies</key>
	<array>
		<string>CLKComplicationFamilyModularSmall</string>
		<string>CLKComplicationFamilyUtilitarianSmall</string>
		<string>CLKComplicationFamilyUtilitarianSmallFlat</string>
		<string>CLKComplicationFamilyCircularSmall</string>
		<string>CLKComplicationFamilyExtraLarge</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>org.zenbf</key>
			<string></string>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Use bluetooth to discover, connect to, and share information with nearby devices</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Measure heart rate variablity from external monitors</string>
	<key>NSContactsUsageDescription</key>
	<string>Pick people to share daily progress</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>tools.sunyata.Zendo.watchkit</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<key>NSHealthShareUsageDescription</key>
	<string>Show progress across Zendō sessions </string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Add Zendō data to Apple Health</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>WKBackgroundModes</key>
	<array>
		<string>mindfulness</string>
		<string>workout-processing</string>
	</array>
	<key>WKExtensionDelegateClassName</key>
	<string>$(PRODUCT_MODULE_NAME).ExtensionDelegate</string>
	<key>WKRunsIndependentlyOfCompanionApp</key>
	<true/>
</dict>
</plist>
